<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/tundra.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/pgwslideshow/default.css" rel="stylesheet" />
    <link href="../css/pgwslideshow/normalize.css" rel="stylesheet" />
    <link href="../css/pgwslideshow/pgwslideshow.css" rel="stylesheet" />
    <script src="../js/jquery-1.11.3.min.js"></script> 
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="../js/pgwslideshow.min.js"></script>
</head>
<body>
   
</body>
</html>
